html{
    font-family: 'Roboto Mono', monospace;
    background-color:rgb(6, 36, 70);
    width: 100%;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
}   
.presentation{
    width: 100%;
    height:430px
}
.arrow{
    color:#c4c8c5; 
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.arrow:hover{
    color:#466067

}
.apps{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Contenedor{
    height: 100vh;
    margin: 0px 250px 0px 250px;
    position: relative;
}
@media (max-width: 1750px) {
    .Contenedor{
        height: 96vh;
    }
}

